<div class="containerColumn">

  <h3 class="center titleMargin2">{{this.name}}</h3>

  <div class="containerRow containerBorder"> <!-- first team pokemons -->

    {{#each this.pokemon}}
      <div class="container"> 
        <img src="{{this.frontSprite}}" class="image">
        <a class="text hiddenBtn middle" href="/editPokemon/{{this.id}}">Remove</a>
      </div>
    {{/each}}

  </div>

  {{#unless this.pokemon.[5]}}
    <a href="/addToTeam/{{this.id}}">Add</a>
  {{/unless}}
</div>