<form action="/createPokemon" method="POST">
<div class="containerColumn"> <!-- Main -->

  <h1 class="bar-margin1">Create Pokémon</h1> <!-- Page title -->

  <div class="containerRow container-margin1"> <!-- select, pic and description -->

    <div> <!-- Select and pic -->

      <div> <!-- Select the pokemon -->
       
          <label for="Species">Select your dream pokemon</label>
          <select class="" id="speciesSelect" name="lookingfor" onchange="loadSpecies()">
            <option>Pokémon</option>
            {{#each allSpecies}}
              <option>{{ this.name }}</option>
            {{/each}}
          </select>
        
      </div>

      <div> <!-- Pokemon picture/frontsprite -->
        <img id="selectedSprite" src="/images/question.png" width="120" alt="photo">
      </div>

    </div>

    <div> <!-- Pokemon description -->

      <div> <!-- Pokemon description title -->
        <h4 class="">Pokémon Fun Facts</h4>
      </div>

      <div> <!-- Pokemon description text -->
        <p>Aenean eu quam et mi viverra bibendum non et ex. Proin in blandit libero. Nunc pellentesque nulla rhoncus fermentum luctus. Nunc placerat ullamcorper nunc at tincidunt. Duis nec ipsum feugiat, porttitor massa in, porta diam. Nunc luctus suscipit pretium. Cras pharetra non magna id interdum. Mauris tempor commodo dapibus. Sed feugiat tortor id odio vulputate, eu iaculis elit sodales. Nullam ac purus iaculis, fringilla lectus sit amet, varius ante. Suspendisse tristique faucibus orci, sed volutpat lectus commodo ut.</p>
      </div>

    </div>

  </div>

  <div class="containerRow container-margin1"> <!-- Item, moves, ability, type, power, nature, base stats, IV, EV, Damage graph -->

    <div class="containerColumn container-margin1"> <!-- Item, moves -->

      <div> <!-- Select pokemon item -->
        <form>
          <label for="Items">Item</label>
          <select class="" name = "blabla" id="itemSelect" onchange="">
          </select>
        </form>
      </div>

      <form> <!-- Select pokemon moves -->
        <div class="containerColumn container-margin1">
          <label>Moves</label>
          <select class="" id="movesSelect1" onchange="">
            <option>Move 1</option>
          </select>
          <select class="" id="movesSelect2" onchange="">
            <option>Move 2</option>
          </select>
          <select class="" id="movesSelect3" onchange="">
            <option>Move 3</option>
          </select>
          <select class="" id="movesSelect4" onchange="">
            <option>Move 4</option>
          </select>
        </div>
      </form>
      
    </div>

    <div class="cotainerColumn container-margin1"> <!-- Ability, type and power -->

      <div> <!-- Ability -->
        <form>
          <label for="Abilities">Ability</label>
          <select class="" id="abilitySelect" onchange="">
            <option></option>
          </select>
        </form>
      </div>

      <div class="containerRow container-margin1"> <!-- Type and power -->

        <div class="containerColumn container-margin1"> <!-- Type -->
          <p>Type 1</p>
          <p>Type 2</p>
          <p>Type 3</p>
          <p>Type 4</p>
        </div>

        <div class="containerColumn container-margin1"> <!-- Power -->
          <p>Power 1</p>
          <p>Power 2</p>
          <p>Power 3</p>
          <p>Power 4</p>
        </div>
      </div>
    </div>

    <div class="containerColumn container-margin1"> <!-- Nature, base stats, IV, EV and damage --> 
     <form>
        <div class="form-group drop-down">
          <label for="Natures">Nature</label>
          <select class="form-control" id="natureSelect" onchange="">
            <option>Lonely</option>
          </select>
        </div>
      </form>

      <div class="containerRow container-margin1"> <!-- Base stats, IV, EV and damage --> 

        <div class="containerColumn container-margin1">  <!-- Base Stats -->
          <p id="baseStatHP">HP Stat</p>
          <p id="baseStatAtk">Atk Stat</p>
          <p id="baseStatDef">Def Stat</p>
          <p id="baseStatSpAtk">SpAtk Stat</p>
          <p id="baseStatSpDef">SpDef Stat</p>
          <p id="baseStatSpe">Spd Stat</p>
        </div>

        <div class="containerColumn container-margin1"> <!-- IV -->
          <label class="">IV</label>
            <div class="containerColumn container-margin1">
              <input id="inputIV1" class="" type="number" max="31" value="31">
              <input id="inputIV2" class="" type="number" max="31" value="31">
              <input id="inputIV3" class="" type="number" max="31" value="31">
              <input id="inputIV4" class="" type="number" max="31" value="31">
              <input id="inputIV5" class="" type="number" max="31" value="31">
              <input id="inputIV6" class="" type="number" max="31" value="31">
            </div>
        </div>

        <div class="containerColumn container-margin1"> <!-- EV -->
          <label class="">EV</label>
            <div class="containerColumn container-margin1">
              <input id="inputEV1" class="" type="number" max="255" value="0">
              <input id="inputEV2" class="" type="number" max="255" value="0">
              <input id="inputEV3" class="" type="number" max="255" value="0">
              <input id="inputEV4" class="" type="number" max="255" value="0">
              <input id="inputEV5" class="" type="number" max="255" value="0">
              <input id="inputEV6" class="" type="number" max="255" value="0">
            </div>
        </div>

        <div class="containerColum container-margin1"> <!-- Damage Graph -->
          <p>Total</p>
          <div>
            <p id="totalHP" class="">1</p>
            <p id="totalAtk" class="">2</p>
            <p id="totalDef" class="">3</p>
            <p id="totalSpAtk" class="">4</p>
            <p id="totalSpDef" class="">5</p>
            <p id="totalSpe" class="">6</p>
          </div>
        </div>

      </div>

  </div>

</div>


  <button type="submit">Save</button>
</form>