
<div class='containerColumn margin-main'>

  <h1 class="bar-margin1">Create Pokémon</h1>
  
  <form>
    <div class="form-group drop-down container-margin1">
      <label for="Species">Select your dream pokemon</label>
      <select class="form-control" id="speciesSelect" onchange="loadSpecies()">
        <option>Pokémon</option>
        {{#each allSpecies}}
          <option>{{ this.name }}</option>
        {{/each}}
      </select>
    </div>
  </form>

  <div class="containerRow container-margin1">
    <div class="containerColumn container-margin2"> <!-- pic and moves -->
      <img id="selectedSprite" src="/images/question.png" width="120" alt="photo">
      <form>
        <div class="form-group drop-down">
          <label for="Items">Item</label>
          <select class="form-control" id="itemSelect" onchange="">
            <option></option>
          </select>
        </div>
      </form>
      <form>
        <div class="form-group drop-down">
          <label for="Abilities">Ability</label>
          <select class="form-control" id="abilitySelect" onchange="">
            <option></option>
          </select>
        </div>
      </form>
      <form>
        <div class="form-group drop-down">
          <label for="Moves">Moves</label>
          <select class="form-control" id="movesSelect1" onchange="">
            <option></option>
          </select>
          <select class="form-control" id="movesSelect2" onchange="">
            <option></option>
          </select>
          <select class="form-control" id="movesSelect3" onchange="">
            <option></option>
          </select>
          <select class="form-control" id="movesSelect4" onchange="">
            <option></option>
          </select>
        </div>
      </form>
    </div>

    <div class="containerColumn container-margin2"> <!-- Base, IV and EV -->
      <div> <!-- Base-->
        <p>Base Diagram</p>
        <p>############</p>
        <p>############</p>
      </div> 
      <div class="containerRow"> <!-- Base Stats, IV and EV -->
        <div class="form-group"> <!-- IV  -->
          <label class="col-2 col-form-label">IV</label>
          <div class="col-10">
            <p id="baseStatHP" class="form-control inputSize1 noMargin">1</p>
            <p id="baseStatAtk" class="form-control inputSize1 noMargin">2</p>
            <p id="baseStatDef" class="form-control inputSize1 noMargin">3</p>
            <p id="baseStatSpAtk" class="form-control inputSize1 noMargin">4</p>
            <p id="baseStatSpDef" class="form-control inputSize1 noMargin">5</p>
            <p id="baseStatSpd" class="form-control inputSize1 noMargin">6</p>
          </div>
        </div>
        <div class="form-group"> <!-- IV  -->
          <label class="col-2 col-form-label">IV</label>
          <div class="col-10">
            <input id="inputIV1" class="form-control inputSize1" type="number" max="31" value="0">
            <input id="inputIV2" class="form-control inputSize1" type="number" max="31" value="0">
            <input id="inputIV3" class="form-control inputSize1" type="number" max="31" value="0">
            <input id="inputIV4" class="form-control inputSize1" type="number" max="31" value="0">
            <input id="inputIV5" class="form-control inputSize1" type="number" max="31" value="0">
            <input id="inputIV6" class="form-control inputSize1" type="number" max="31" value="0">
          </div>
        </div>
        <div class="form-group"> <!-- EV  -->
          <label class="col-2 col-form-label">EV</label>
          <div class="col-10">
            <input id="inputEV1" class="form-control inputSize1" type="number" max="255" value="0">
            <input id="inputEV2" class="form-control inputSize1" type="number" max="255" value="0">
            <input id="inputEV3" class="form-control inputSize1" type="number" max="255" value="0">
            <input id="inputEV4" class="form-control inputSize1" type="number" max="255" value="0">
            <input id="inputEV5" class="form-control inputSize1" type="number" max="255" value="0">
            <input id="inputEV6" class="form-control inputSize1" type="number" max="255" value="0">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
