<div class="containerRow">
  <div class="d-flex" id="wrapper">  <!-- Sidebar wrapper -->

    <div class="bg-light border-right" id="sidebar-wrapper">   <!-- Sidebar -->
      <div class="sidebarMargin1"> Pokemaster {{user.username}} </div>
      <div class="list-group list-group-flush">
        <a href="/createPokemon" class="list-group-item list-group-item-action bg-light noBorder">Your Teams</a>
        <a href="#" class="list-group-item list-group-item-action bg-light noBorder">New Pokemon</a>
        <a href="#" class="list-group-item list-group-item-action bg-light noBorder">Damage Analysis</a>
      </div>
      <div class="sidebarLogout">
         <a href="/logout" class="list-group-item list-group-item-action bg-light noBorder">Logout</a>
      </div>
    </div>
  </div>

  <form action="/createPokemon" method="POST">
    <div class="containerColumn"> <!-- Main -->

      <h1 class="titleMargin1">Create Pokémon</h1> <!-- Page title -->

      <div class="containerRow container-margin1"> <!-- select, pic and description -->

        <div> <!-- Select and picture -->

          <div> <!-- Select the pokemon -->

              <select class="form-control dropDown" id="speciesSelect" name="lookingfor" onchange="loadSpecies()">
                <option>Pokémon</option>
                {{#each allSpecies}}
                  <option>{{ this.name }}</option>
                {{/each}}
              </select>
            
          </div>

          <div> <!-- Pokemon picture/frontsprite -->
            <img id="selectedSprite" src="/images/question.png" width="130" alt="photo">
          </div>

        </div>

        <div> <!-- Pokemon description -->
          <div> <!-- Pokemon fun facts -->
            <ul>
              {{#each allSpecies}}
                <li>{{ this.funFacts }}</li>
              {{/each}}
            </ul>
          </div>
        </div>

      </div>

      <div class="containerRow"> <!-- Item, moves, ability, type, power, nature, base stats, IV, EV, Damage graph -->

        <div class="containerColumn container-margin1"> <!-- Item, moves -->

          <div> <!-- Select pokemon item -->
            <form>
              <label for="Items">Item</label>
              <select class="form-control dropDown" id="itemSelect" onchange="">
              </select>
            </form>
          </div>

          <form> <!-- Select pokemon moves -->
            <div class="containerColumn">
              <label>Moves</label>
              <select class="form-control dropDown dropDownMargin1" id="movesSelect1" onchange="">
                <option>Move 1</option>
              </select>
              <select class="form-control dropDown dropDownMargin1" id="movesSelect2" onchange="">
                <option>Move 2</option>
              </select>
              <select class="form-control dropDown dropDownMargin1" id="movesSelect3" onchange="">
                <option>Move 3</option>
              </select>
              <select class="form-control dropDown dropDownMargin1" id="movesSelect4" onchange="">
                <option>Move 4</option>
              </select>
            </div>
          </form>
          
        </div>

        <div class="cotainerColumn container-margin1"> <!-- Ability, type and power -->

          <form class="center"> <!-- Ability -->
            <label for="Abilities">Ability</label>
            <select class="form-control dropDown" id="abilitySelect" onchange="">
              <option></option>
            </select>
          </form>

          <div class="containerRow container-margin1"> <!-- Type and power -->

            <div class="containerColumn container-margin1"> <!-- Type -->
              <p>Type 1</p>
              <p>Type 2</p>
              <p>Type 3</p>
              <p>Type 4</p>
            </div>

            <div class="containerColumn container-margin1"> <!-- Power -->
              <p>Power 1</p>
              <p>Power 2</p>
              <p>Power 3</p>
              <p>Power 4</p>
            </div>

          </div>
          
        </div>

        <div class="containerColumn container-margin1"> <!-- Nature, base stats, IV, EV and damage --> 
          <form class="center">
            <label for="Natures">Nature</label>
            <select class="form-control dropDown" id="natureSelect" onchange="">
              <option>Lonely</option>
            </select>
          </form>

          <div class="containerRow container-margin1"> <!-- Base stats, IV, EV and damage --> 

            <div class="containerColumn container-margin1">  <!-- Base Stats -->
              <label>Base Stats</label>
                <p id="baseStatHP">HP Stat</p>
                <p id="baseStatAtk">Atk Stat</p>
                <p id="baseStatDef">Def Stat</p>
                <p id="baseStatSpAtk">SpAtk Stat</p>
                <p id="baseStatSpDef">SpDef Stat</p>
                <p id="baseStatSpe">Spe Stat</p>
            </div>

            <div class="containerColumn container-margin1"> <!-- IV -->
              <label class="">IV</label>
                <div class="containerColumn container-margin1">
                  <input id="inputIV1" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                  <input id="inputIV2" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                  <input id="inputIV3" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                  <input id="inputIV4" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                  <input id="inputIV5" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                  <input id="inputIV6" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31">
                </div>
            </div>

            <div class="containerColumn container-margin1"> <!-- EV -->
              <label class="">EV</label>
                <div class="containerColumn container-margin1">
                  <input id="inputEV1" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                  <input id="inputEV2" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                  <input id="inputEV3" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                  <input id="inputEV4" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                  <input id="inputEV5" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                  <input id="inputEV6" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0">
                </div>
            </div>

            <div class="containerColum container-margin1"> <!-- Damage Graph -->
              <p>Total</p>
              <div>
                <p id="totalHP" class="">1</p>
                <p id="totalAtk" class="">2</p>
                <p id="totalDef" class="">3</p>
                <p id="totalSpAtk" class="">4</p>
                <p id="totalSpDef" class="">5</p>
                <p id="totalSpe" class="">6</p>
              </div>
            </div>

          </div>

      </div>

    </div>

    <button type="submit" class="bg-light">Save</button>
    
  </form>

</div>
