<form action="/createPokemon" method="POST" onchange="calculateStats()">
  <div class="containerColumn"> <!-- Main -->

    <div class="containerRow container-margin1"> <!-- select, pic and description -->

      <div> <!-- Select and picture -->

        <div> <!-- Select the pokemon -->

            <select class="form-control dropDown" id="speciesSelect" onchange="loadSpecies()" name="speciesName">
              <option hidden>Pokémon</option>
              {{#each allSpecies}}
                <option>{{ this.name }}</option>
              {{/each}}
            </select>
          
        </div>

        <div> <!-- Pokemon picture/frontsprite -->
          <img id="selectedSprite" src="/images/question.png" width="130" alt="photo">
        </div>

      </div>

      <div> <!-- Pokemon description -->
        <div> <!-- Pokemon fun facts -->
          <ul>
          </ul>
        </div>
      </div>

    </div>

    <div class="containerRow"> <!-- Item, moves, ability, type, category, pokemon save button, nature, base stats, IV, EV, Damage graph -->

      <div class="containerColumn"> <!-- Item, moves, ability, type, category and pokemon save button-->

        <div class="containerRow">  <!-- Item, moves, ability, type and category -->

          <div class="containerColumn container-margin1"> <!-- Item, moves -->

            <div> <!-- Select pokemon item -->
                <label for="Items">Item</label>
                <select class="form-control dropDown" id="itemSelect" name="createItem">
                </select>
            </div>

              <div class="containerColumn">
                <label>Moves</label>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect1" onchange="" name="createMove1">
                  <option>Move 1</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect2" onchange="" name="createMove2">
                  <option>Move 2</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect3" onchange="" name="createMove3">
                  <option>Move 3</option>
                </select>
                <select class="form-control dropDown dropDownMargin1" id="movesSelect4" onchange="" name="createMove4">
                  <option>Move 4</option>
                </select>
              </div>
            
          </div>

          <div class="containerColumn container-margin1"> <!-- Ability, type and power -->

            <form class="center"> <!-- Ability -->
              <label for="Abilities">Ability</label>
              <select class="form-control dropDown" id="abilitySelect" name="createAbility">
                <option></option>
              </select>
            </form>

            <div class="containerRow container-margin1"> <!-- Type and category -->

              <div class="containerColumn container-margin1"> <!-- Type -->
                <img class="typesMargin1 topMargin1" id="type1Img" src="/images/types/electric.png">
                <img class="typesMargin1"  id="type2Img" src="/images/types/fire.png">
                <img class="typesMargin1"  id="type3Img" src="/images/types/ice.png">
                <img class="typesMargin1"  id="type4Img" src="/images/types/steel.png">
              </div>

              <div class="containerColumn container-margin1"> <!-- Category -->
                <img class="categoryMargin1 topMargin1" id="category1Img" src="/images/categories/physical.png">
                <img class="categoryMargin1" id="category1Img" src="/images/categories/special.png">
                <img class="categoryMargin1" id="category1Img" src="/images/categories/special.png">
                <img class="categoryMargin1" id="category1Img" src="/images/categories/status.png">
              </div>

            </div>
            
          </div>

        </div>

        <button type="submit" class="btn btn-light btnSize1 center">Save</button> <!-- pokemon save button -->

      </div>

      <div class="containerColumn container-margin1 center"> <!-- Nature, base stats, IV, EV and damage --> 
          <label for="Natures">Nature</label>
          <select class="form-control dropDown" id="natureSelect" name="createNature">
            <option>Lonely</option>
          </select>

        <div class="containerRow container-margin1"> <!-- Base stats, IV, EV and damage --> 

          <div class="containerColumn"> <!-- Base Stats -->

            <label class="center">Base Stats</label> <!-- Base Stats title -->

            <div class="containerRow">

              <div class="containerColumn container-margin1">  <!-- Base Stats names -->
                <p class="labelMargin1">HP</p>
                <p class="labelMargin1">Atk</p>
                <p class="labelMargin1">Def</p>
                <p class="labelMargin1">SpAtk</p>
                <p class="labelMargin1">SpDef</p>
                <p class="labelMargin1">Spe</p>
              </div>

              <div class="containerColumn container-margin1">  <!-- Base Stats numbers -->
                <p class="labelMargin1" id="baseStatHP">0</p>
                <p class="labelMargin1" id="baseStatAtk">0</p>
                <p class="labelMargin1" id="baseStatDef">0</p>
                <p class="labelMargin1" id="baseStatSpAtk">0</p>
                <p class="labelMargin1" id="baseStatSpDef">0</p>
                <p class="labelMargin1" id="baseStatSpe">0</p>
              </div>
            
            </div>

          </div>

          <div class="containerColumn container-margin1"> <!-- IV -->
            <label class="center">IV</label>
              <div class="containerColumn container-margin1">
                <input id="inputIV1" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV1">
                <input id="inputIV2" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV2">
                <input id="inputIV3" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV3">
                <input id="inputIV4" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV4">
                <input id="inputIV5" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV5">
                <input id="inputIV6" class="form-control dropDownMargin1" type="number" min="0" max="31" value="31" name="createIV6">
              </div>
          </div>

          <div class="containerColumn container-margin1"> <!-- EV -->
            <label class="center">EV</label>
              <div class="containerColumn container-margin1">
                <input id="inputEV1" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV1">
                <input id="inputEV2" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV2">
                <input id="inputEV3" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV3">
                <input id="inputEV4" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV4">
                <input id="inputEV5" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV5">
                <input id="inputEV6" class="form-control dropDownMargin1" type="number" min="0" max="255" value="0" name="createEV6">
              </div>
          </div>

          <div class="containerColumn container-margin1"> <!-- Damage Graph -->
            <p>Total</p>
            <div>
              <p class="labelMargin2" id="totalHP" class="">0</p>
              <p class="labelMargin2" id="totalAtk" class="">0</p>
              <p class="labelMargin2" id="totalDef" class="">0</p>
              <p class="labelMargin2" id="totalSpAtk" class="">0</p>
              <p class="labelMargin2" id="totalSpDef" class="">0</p>
              <p class="labelMargin2" id="totalSpe" class="">0</p>
            </div>
          </div>

        </div>

    </div>

  </div>
  
</form>
