<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="containerRow fullScreen">

      <div class="d-flex" id="wrapper">  <!-- Sidebar wrapper -->

        <div class="bg-light border-right" id="sidebar-wrapper">   <!-- Sidebar -->
        
          <div class="sidebarMargin1"> 
            Trainer {{req.user.username}}
          </div>
          <div class="list-group list-group-flush">
            <a href="/teams" class="list-group-item list-group-item-action bg-light noBorder">Teams</a>
            <a href="/pokeList" class="list-group-item list-group-item-action bg-light noBorder">Pokémon</a>
            <a href="/createPokemon" class="list-group-item list-group-item-action bg-light noBorder">New Pokémon</a>
            <a href="/damageAnalysis" class="list-group-item list-group-item-action bg-light noBorder">Damage Analysis</a>
          </div>
          <a href="/logout" class="list-group-item-action sidebarLogout">Logout</a>

        </div>

      </div>
    
      {{{body}}}

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</body>
</html>