<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/loginStyle.css" />
    <title>{{title}}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </head>
  <body>
 
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

        <div class="login-form"> <!-- Log in and sign up -->

          <form class="sign-in-htm" action="/login" method="POST"> <!-- Log in form -->
            <div class="group">
              <label for="username" class="label">Username</label>
              <input type="text" class="input" name="username" placeholder="Lance">
            </div>
            <div class="group">
              <label for="password" class="label">Password</label>
              <input type="password" class="input" name="password" placeholder="Dragonite">
            </div>

            {{#if message}}
              <div class="error-message loginText1">{{ message }}</div>
            {{/if}}

            <div class="group">
              <button type="submit" class="button">Log In</button>
            </div>
            <div class="hr"></div>
          </form>

          <form class="sign-up-htm" action="/signup" method="POST"> <!-- Sign up form -->
            <div class="group">
              <label for="username" class="label">Username</label>
              <input type="text" class="input" placeholder="Lance">
            </div>
            <div class="group">
              <label for="password" class="label">Password</label>
              <input type="password" class="input" placeholder="Dragonite">
            </div>
            <div class="group loginText1">
              <label for="email" class="label loginText1">Email Address</label>
              <input type="email" name="email" class="input loginText1" placeholder="dragonTamer@indigoplateau.com">
            </div>

            {{#if message}}
              <div class="error-message loginText1">{{ message }}</div>
            {{/if}}

            <div class="group">
              <button type="submit" class="button">Sign Up</button>
            </div>
            
            <div class="hr"></div>
            <div class="foot-lnk loginText1">
              <label for="tab-1">Already Registered?</a>
            </div>

          </form>

        </div>

      </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  </body>
</html>
