<div class="containerRow fullScreen"></div>
  <div class="d-flex" id="wrapper">  <!-- Sidebar wrapper -->

      <div class="bg-light border-right" id="sidebar-wrapper">   <!-- Sidebar -->

        <div class="sidebarMargin1"> Trainer </div>
        <div class="list-group list-group-flush">
          <a href="/teams" class="list-group-item list-group-item-action bg-light noBorder">Teams</a>
          <a href="/pokeList" class="list-group-item list-group-item-action bg-light noBorder">Pokemon</a>
          <a href="/createPokemon" class="list-group-item list-group-item-action bg-light noBorder">New Pokemon</a>
          <a href="#" class="list-group-item list-group-item-action bg-light noBorder">Damage Analysis</a>
        </div>
        <div class="sidebarLogout">
          <a href="/logout" class="list-group-item list-group-item-action bg-light noBorder">Logout</a>
        </div>

      </div>

    </div>

  {{#each allPokemon}}
    {{> pokeCard this }}
  {{/each}}
</div>
