<nav class="nav flex-column">
  <a>{{user.username}}</a>
  <a href="/logout">logout</a>
  <br>
  <a class="nav-link active" href="#">Teams</a>
  <a class="nav-link" href="#">Pokémon</a>
  <a class="nav-link" href="#">Analysis</a>
  <a class="nav-link" href="#">Types</a>
  <a class="nav-link" href="#">Natures</a>
</nav>