<div class="containerColumn center flex-wrap"> <!-- teams -->
  <div class="containerColumn teamMargin1 flex-wrap"> <!-- first team -->
    {{#each allTeams}}
      {{> teamCard this }}
    {{/each}}
  </div>
</div>
