.noBotMargin {
  margin-bottom: 0 !important;
}

.darkBtn {
  background-color: #7AD88B;
}

.selectMargin1 {
  margin: 2vh 0;
}

.imgMargin1 {
  margin: 2vh 0 2vh 0;
}

.fullScreen {
  min-height: 100vh;
  min-width: 100vw;
}

.centerContent {
  align-items: center;
}

.containerMin1 {
  min-width: 500px;
  flex-wrap: wrap;
}

.containerColumn {
  display: flex;
  flex-direction: column;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.noTopPadding {
  padding-top: 0 !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.containerMargin1 {
  margin: 3vh 4vw;
}

.containerMargin2 {
  margin: 5vh 0;
}

.containerMargin3 {
  margin: 0 5vw 0 0;
}

.containerMargin4 {
  margin: 0 3vw 0 0;
}

.sidebarMargin1 {
 text-align: center;
 margin: 2vh 5vw;
}

.btnSize1 {
  width: 8vw;
} 

.sidebarLogout {
  position: fixed;
  bottom: 0;
  margin: 2vh auto 2vh 4.4vw;
  width: 8vw;
}

.noBorder {
  border: none;
}
.dropDown {
  width: 10vw;
}

/* .containerBorder {
  border: 0.05rem solid #ced4da;
  border-radius: 0.3rem; 
  flex-wrap: wrap;
} */

.teamContainerMargin1 {
  margin: 3vh 0;
}
.center {
  margin: 0 auto;
}

.dropDownMargin1 {
  margin: 0.2vh 0;
}

.titleMargin1 {
  margin: 3vh 2vw;
}

.titleMargin2 {
  margin: 2vh auto;
}

.pokemonDisplay1 {
  width: 130px;
  height: 130px;
  border-radius: 0.3rem;
  margin: 2vh 2vw;
}

/* hover pokemon  */
.hiddenBtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: 0 !important;
}

.container {
  position: relative;
  width: 150px;
  margin: 5px auto;
}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle-add {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
}

/* Poke cards */
.cardDesign1 {
  width: 18vw;
  min-width: 220px;
  background-color: #F3D91F;
  margin: 4vh 0 0 2vw;
}

.categoryMargin1 {
  margin: 0 0 28px 0;
}

.typesMargin1 {
  margin: 0 0 30px 0;
}

.powerMargin1 {
  margin: 0 0 20px 0;
}

.labelMargin1 {
  margin: 10px 0 7px 0;
}

.labelMargin2 {
  margin: 3px 0 17px 0;
}

.labelMargin3 {
  margin: 0 0 0 5.9vw;
}

.topMargin1 {
  margin-top: 40px;
}

.topMargin2 {
  margin-top: 36px;
}
