button {
  width: 6vw;
  margin: 0 auto;
}
.containerColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.containerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-margin1 {
  margin: 0.2vh 1.4vw;
}
.sidebarMargin1 {
 text-align: center;
 margin: 2vh;
}
.sidebarLogout {
  margin: 67vh 0 0 0;
  text-align: center;
}
.noBorder {
  border: none;
}
.dropDown {
  width: 10vw;
}
.center {
  margin: 0 auto;
}
.dropDownMargin1 {
  margin: 0.2vh 0;
}
.titleMargin1 {
  margin: 1.8vh 2vw;
}